---
import LogoLayout from "@src/layouts/LogoLayout.astro";
import { changeLanguage, t } from "i18next";

changeLanguage("en");

const title = t("pages.404.title");
const description = t("pages.404.description");
---

<LogoLayout title={title} description={description} noindex={true} nofollow={true} requiresAuth={false} jsonLd={null}>
  <header class="flex flex-col items-center justify-center">
    <h1>{t("pages.404.header")}</h1>
  </header>
  <main class="flex flex-col items-center justify-center">
    <div>{t("pages.404.message")}</div>
  </main>
</LogoLayout>
