---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { Trans } from "astro-i18next/components";
import { changeLanguage, t } from "i18next";

changeLanguage("en");

const title = t("pages.index.title");
const description = t("pages.index.description");
---

<BaseLayout title={title} description={description} noindex={false} nofollow={false} requiresAuth={false} jsonLd={null}>
  <header class="flex flex-col items-center justify-center">
    <h1>
      <Trans i18nKey="pages.index.header">
        Welcome to <span class="philosopher">Backtestor</span>
      </Trans>
    </h1>
  </header>
</BaseLayout>
