---
import BaseLayout from "@layouts/BaseLayout.astro";
import { changeLanguage, t } from "i18next";

changeLanguage("en");

const title = t("pages.auth-response.title");
const description = t("pages.auth-response.description");
---

<BaseLayout title={title} description={description}>
  <header class="flex flex-col items-center justify-center">
    <h1 id="page-header">{t("pages.auth-response.header")}</h1>
    <h1 id="error-header" hidden>{t("pages.auth-response.error")}</h1>
    <p id="error-code" hidden>.</p>
    <p id="error-description" hidden>.</p>
    <p id="timestamp" hidden>.</p>
    <p id="correlation-id" hidden>.</p>
  </header>
</BaseLayout>;

<script>
  import { AuthOptions } from "@services/auth/auth";
  import { AuthConstants } from "@services/auth/constants";
  import { defineMsaAuth, msaAuthOptions } from "@services/auth/msaAuth";
  import { BaseResponse, TokenResponse } from "@services/auth/response";
  import { LogLevel, defineConsoleLogger, mapStringToLogLevel } from "@services/logger/logger";

  const pageHeader = document.getElementById("page-header") as HTMLElement;
  const errorHeader = document.getElementById("error-header") as HTMLElement;
  const errorCode = document.getElementById("error-code") as HTMLElement;
  const errorDescription = document.getElementById("error-description") as HTMLElement;
  const timestamp = document.getElementById("timestamp") as HTMLElement;
  const correlationId = document.getElementById("correlation-id") as HTMLElement;

  const loggerLevelString: string = import.meta.env.PUBLIC_LOG_LEVEL;
  const loggerLevel: LogLevel = mapStringToLogLevel(loggerLevelString);
  const logger = defineConsoleLogger(loggerLevel, AuthConstants.PACKAGE_NAME);

  // Functions
  const showError = function showError(response: BaseResponse): void {
    logger.error(response.error ?? "");
    errorCode.innerText = `${response.error}`;
    errorDescription.innerText = `${response.errorDescription}`;
    timestamp.innerText = `${response.timestamp}`;
    correlationId.innerText = `${response.correlationId}`;
    pageHeader.hidden = true;
    errorCode.hidden = false;
    errorHeader.hidden = false;
    errorDescription.hidden = false;
    timestamp.hidden = false;
    correlationId.hidden = false;
  };

  const handleAuthRedirectResponse = async function handleAuthRedirectResponse(): Promise<void> {
    const options: AuthOptions = {
      ...msaAuthOptions,
      logger: logger,
    };
    const auth = defineMsaAuth(options);

    const response: BaseResponse = await auth.handleAuthCodeResponse();
    if (response.error) {
      showError(response);
      return;
    }

    const tokenResponse: TokenResponse = response as TokenResponse;
    if (tokenResponse && tokenResponse.stateObject && tokenResponse.stateObject.redirectStartPage)
      window.location.assign(tokenResponse.stateObject.redirectStartPage);
  };

  // Init
  handleAuthRedirectResponse();
</script>
