---
import "@src/assets/styles/main.css";
import HeadCommon from "@src/components/HeadCommon.astro";
import { normalizeLangTag, rtlLanguages } from "@src/i18n";
import { detectLocaleFromPath } from "astro-i18next";
import { Schema } from "astro-seo-schema";
import type { Graph, Thing, WithContext } from "schema-dts";

export interface Props {
  title: string;
  description: string;
  noindex: boolean;
  nofollow: boolean;
  requiresAuth: boolean;
  jsonLd: Graph | WithContext<Thing> | null;
}

const { title, description, noindex, nofollow, requiresAuth, jsonLd }: Props = Astro.props;
const { pathname } = Astro.url;
const lang: string = detectLocaleFromPath(pathname);
const direction: "rtl" | "ltr" = rtlLanguages.has(lang) ? "rtl" : "ltr";
const bcpLang: string = normalizeLangTag(lang);
---

<!DOCTYPE html>
<html dir={direction} lang={bcpLang} class="dark">
  <head>
    <HeadCommon
      title={title}
      description={description}
      noindex={noindex}
      nofollow={nofollow}
      requiresAuth={requiresAuth}
    />
    {jsonLd === null ? null : <Schema item={jsonLd} />}
  </head>
  <body>
    <!-- Page Content -->
    <slot />
  </body>
</html>
